{% extends "mycloset/base.html" %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mycloset/style.css' %}" />

{% block header %}

{% endblock header %} 

{% block content %}

<br/><br/>
    <div class="container fluid">
      <div class="row">
          <div class="col sm 4">
              <div class="">
                  <div class="">
                      <h1>Register To MyCloset</h1>
                      <h5>To start adding things to your closet!</h5>
                  </div>
                  <div class="">
                      <a href="{% url 'users:register' %}" class=""> REGISTER </a>
                  </div>
              </div>
          </div>

          <div class="col sm 4">
              <div class="">
                  <div class="">
                      <h1>MyCloset</h1>
                      <h5>View your closet.</h5> 
                  </div>
                  <div class="">
                      <a href="{% url 'mycloset:owner_profile' %}" class=""> MY CLOSET </a>
                  </div>
              </div>
          </div>
      </div>
    </div> 

    <div class="row">

    </div> 

{% endblock content %}