{% extends "mycloset/base.html" %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mycloset/style.css' %}" />


{% block header %}

{% endblock header %} 

{% block content %}

<br/><br/>
  <div class="container fluid">
      <!-- <div class="row"> -->
        <div class="row">
           <div class="col sm 4">
              <table class="table">
                <thead>
                    <tr>
                        <th>Register To start using MyCloset</th>
                        <th><div class="">
                            <a href="{% url 'users:register' %}" class=""> REGISTER </a>
                        </div></th>
                    </tr>
                </thead>
              </table> 
            </div>
        </div>
          
        <div class="row">
            <div class="col sm 4">
              {% if latest_owner_list %}
                <ul>
              {% for owner in latest_owner_list %}
                  <li><a href="{% url 'mycloset:detail' owner.id %}">{{ owner.closet_name }}</a>
                  </li>
                </ul>
              {% endfor %}
              {% else %}
                <p>No Owners are signed in.</p>
              {% endif %}
            </div>
        </div>

  </div>
{% endblock content %}


          
   

