{% extends "mycloset/base.html" %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mycloset/style.css' %}" />

{% block header %}
    <h2>Welcome to your Closet!!</h2>
{% endblock header %}

{% block content %}
<div class="row">
          <div class="col sm 12">
              <nav role="navigation" class="navbar navbar-default">
                  <div class="navbar-header">
                      <ul class="sidebar-nav nav">
                      {% if user.is_authenticated %}
                             
                              
                      {% endif %}
                      </ul>
                  </div>
              </nav>    
          </div>
    </div>
{% endblock content %}