body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

li {
  color: black;
}
footer {
  text-align: center;
}

/* styles for index.html */
.card-image-one{
  background: white url("images/mycloset_1.gif") no-repeat center;
}

.card-image-two{
  background: white url("images/mycloset_2.gif") no-repeat center;
}

.card-image-three{
  background: white url("images/mycloset_3.gif") no-repeat center;
}

.my-closet-logo{
  background: white url("images/mycloset_header.png") no-repeat center;
  width:800px;
  height: 450px;
}

.card-content{
  text-align: center;
}


.container-fluid{
  text-align:center;
}

.add-profile-link{
  list-style-type: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.add-profile-link:hover, .add-profile-link:active {
  background-color: black;
  color: white;
  text-decoration: none;
}

.register-link{
  list-style-type: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.register-link:hover, .register-link:active {
  background-color: black;
  color: white;
  text-decoration: none;
}


.owner-closet-link{
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


.owner-closet-link:hover, .owner-closet-link:active {
  background-color: black;
  color: white;
  text-decoration: none;
}


.my-closet-header{
  background: white url("images/mycloset_header.png") no-repeat center;
  height: auto;
  max-width: 100%;
}

/* links in base.html for login,logout,username */
.base-nav-links{
  list-style-type: none;
  color: white;
}